@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


/* variables */
:root{
    --color-main: #C6D57E;
    --color-main-2: #D57E7E;
    --color-main-3: #A2CDCD;
    --color-main-4: #FFE1AF;
    --color-black: #000000;
    --color-white: #ffff;
    --color-new-1:#32502E;
    --color-new-2:#406343;
    --color-new-3:#ECE7B4;
    --color-new-4:#F3EFCC;
}

/* all */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body,input{
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-new-3);
    /* padding: 0; */
    /* background-color: #FFE1AF; */
}
.login-ultimate-layout{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 2em;
    color: var(--color-new-2);
}
.input-field{
    width: 100%;
    max-width: 380px;
    height: 55px;
    margin: 10px 0;
    border-radius: 55px;
    background-color: var(--color-new-4);
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color: var(--color-new-2);
    /* background-color: var(--color-new-2); */
    font-size: 1.5rem;
}
.input-field input{
    background: none;
    outline: none;
    line-height: none;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-new-2);
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--color-white);
    background-color: var(--color-new-2);
    font-size: 1.5rem;
    margin: 10px 0;
    transition: all 0.5s;
}
.btn:hover{
    background-color: var(--color-new-1);
    color: var(--color-white);
}
.or{
    padding: 0.7rem 0;
}
.social-icon{
    display: flex;
    justify-content: center;
}
.social-icon a{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #406343;
    margin: 0 0.5rem;
    border-radius: 50%;
    color: var(--color-new-2);
    transition: all 0.5s;
}
.social-icon a:hover{
    background-color: var(--color-new-2);
    color: var(--color-white);
}
.social-icon a i{
    font-size: 1.5rem;
}